﻿.amount{
    width: 100%;
    display: inline-block;
    float:right;
    text-align:right;
}
/* Styles go here */
.slider-displayIE{
    width:55%;
    display: inline-block; 
    margin:0px 10px;
}

.ui-slider {
    background: #ccc;
    background: -webkit-linear-gradient(top, #bbb, #ddd);
    background: -moz-linear-gradient(top, #bbb, #ddd);
    background: linear-gradient(top, #bbb, #ddd);
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 6px;
}
.ui-slider-range {
    background-color: #0D6908;
    background: -webkit-linear-gradient(top, #0D6908, #72A307);
    background: -moz-linear-gradient(top, #0D6908, #72A307);
    background: linear-gradient(top, #0D6908, #72A307);
}
.ui-slider-horizontal .ui-slider-handle {
    background: #0D6908;
    background: -webkit-linear-gradient(top, #0D6908, #72A307);
    background: -moz-linear-gradient(top, #0D6908, #72A307);
    background: linear-gradient(top, #0D6908, #72A307);
    -webkit-box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.5), 0 2px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.5), 0 2px 8px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.5), 0 2px 8px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 7px solid #FFCC99;
    width: 10px;
    height: 10px;
    margin-top: 0px;
}